<div style=”background-color: blue; color: white;”>
  <h1><%= @ei.ei_id %></h1>
</div>

<div>
<h3>Actions</h3>
<a class="" href=<%= '/erm/eis/new?type=MEASUREMENT&ei_id=#{@ei.ei_id}' %>" >+ Measurement</a>

</div>