<%= form_for @conn, session_path(@conn, :delete), [method: :delete, as: :user], fn _ -> %>
  <div class="form-group">
    <%= submit "logout" %>
  </div>
<% end %>

<h2>live-div</h2>
<div id='live-div'></div>

<div id="mapid"></div>
   