@import "variables";

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1;
}

img.nav-logo {
  max-height: 50px;
  width: 50px;
  height: 50px;
}

img.footer-logo {
  height: 35px;
}
#mapid {
    width: 1000px;
    height: 1000px;
}

// grid work area

#a { grid-area: a; }
#b { grid-area: b; }
#c { grid-area: c; }
#d { grid-area: d; }
#e { grid-area: e; }

.grid-work-area {
    display: grid;
    grid-template-areas:
        "a a a a"
        "b c d e";

    grid-row-gap: 1rem;
}

@media (max-width: 512px) {
    #grid {
        grid-template-areas:
            "a a a"
            "b c d"
            "e e e";
    }
}