<h2>New Earth/EcoSystem/Environment Interaction</h2>

<%= render "form.html", Map.put(assigns, :action, erm_ei_path(@conn, :create)) %>

<span><%= link "Back", to: erm_ei_path(@conn, :index) %></span>
